<footer>
    <a class="contact" target="_blank" href="https://www.instagram.com/lj_fitness_international/"><img
            class="insta_icon" src="/images/insta.svg"></a>
    <p class="copyright">© 2020 LJ Fitness</p>
    <div class="footer-tabs">
        <a class="icon" href="/"><img class="icon-img" src="/images/home_icon.svg">
            <div class="icon-text">HOME</div>
        </a>
        <a class="icon" href="/exercises"><img class="icon-img" src="/images/exercises_icon.svg">
            <div class="icon-text">EXERCISES</div>
        </a>
        <a class="icon" href="/tips"><img class="icon-img" src="/images/ideas_icon.svg">
            <div class="icon-text">TIPS</div>
        </a>
    </div>
</footer>