<header>
    <img class="logo" src="/images/logo.svg">
    <div class="menu">
        <a class="button" href="/">HOME</a>
        <a class="button" href="/Workouts">EXERCISES</a>
        <a class="button" href="/Biometrics">BIOMETRICS</a>
        <a class="button" href="/Tips">TIPS</a>
        <a class="button" href="/Contact">CONTACT US</a>
    </div>
</header>