<head>
    <title>LJ Fitness</title>
    <link rel="stylesheet" type="text/css" href="./components/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>