<header>
    <h2>LJ Fitness</h2>
    <div class="arrowtop"></div>
    <div class="arrowbottom"></div>
    <img class="logo" src="/images/logo.svg">
    <div class="menu">
        <a class="button" href="/">HOME</a>
        <a class="button" href="/Programmes">PROGRAMMES</a>
        <a class="button" href="/Exercises">EXERCISES</a>
        <a class="button" href="/Tips">TIPS</a>
    </div>
</header>