html,body {
    font: 16px Arial;
    margin: 0;
    background: #000000;
    z-index: -1;
    overflow: hidden;
    /* height: 100%; */
  }
  body::selection{
    background: transparent;
  }

  .content{
    display: block;
  }
  p{
    color: white;
    text-align: center;
    font-size: 20px;
  }