html,body {
    font: 16px Arial;
    margin: 0;
    background: #000000;
    z-index: -1;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    position: relative;
    width: 100%;
  }
  body::selection{
    background: transparent;
  }

html::selection{
    background: transparent;
  }
  .content{
    display: block;
  }
  p{
    color: white;
    font-size: 20px;
    position: relative;
    width: 70%;
    margin: auto;
    text-align: justify;
  }

strong{
  color: #f00ee4;
}
  p::selection{
    background: transparent;
  }

 u::selection{
    background: transparent;
  }
  strong::selection{
    background: transparent;
  }

.tip{
  background: transparent;
}

.alltips{
  overflow-x: hidden;
}


  h3{
    color: white;
    text-align: center;
  }

  .contact{
    display: flex;
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .laura{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }
  .menu{
    width: 100%;
  }