html,body {
    font: 16px Arial;
    margin: 0;
    background: #000000;
    z-index: -1;
    height: 100%;
  }
  body::selection{
    background: transparent;
  }

  .content{
    display: block;
  }
  p{
    color: white;
    font-size: 20px;
    position: relative;
  }

  h3{
    color: white;
    text-align: center;
  }

  .contact{
    margin: 30px;
  }
  .details{
    align-content: center;
    align-items: center;
    text-align: center;
    /* grid-column: auto; */
  }