a{
    text-align: center;
    background-color: #000000;
    outline: none;
    border:none;
    color: #f00ee4;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    justify-content: space-around;
    margin-left: 110px;
    transition: 250ms; 
    z-index: 1000;
    pointer-events:all;
    text-decoration: none;
}

a:hover {
      color: white;
      cursor: pointer;
}
a::selection{
    background: transparent;
}
