a{
    text-align: center;
    background-color: #000000;
    outline: none;
    border:none;
    color: #f00ee4;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    justify-content: space-around;
    transition: 250ms; 
    z-index: 1000;
    pointer-events:all;
    text-decoration: none;
    width: 30%;
    display: inline-flex;
    box-shadow: none;
}

.table:hover{
    color: #f00ee4;
}

a:hover {
      color: white;
      cursor: pointer;
}
a::selection{
    outline: none;
    background: transparent;
}
<<<<<<< HEAD
.button:focus{
    outline: none !important;
}
.button::selection{
    outline: none;
    border: none;
    box-shadow: none;
}
button:focus{
    outline: none;
    background: transparent;
}
a:focus {
    outline:none;
    box-shadow: none;
}

*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
=======
*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
>>>>>>> ca789e4b245da789b603097fc0e6005456785d5f
