footer{
    width: 100%;
    margin: 0;
    align-items: center;
    background-color: white;
    text-align: center;
    align-content: center;
}
a.contact{
    background-color: white;
}

.home{
    width: 100%;
  }
  
.sydney{
width: 100%;
}

.insta_icon{
    max-height: 60%;
    max-width: 60%;
}