footer{
    width: 100%;
    margin: 0;
    align-items: center;
    background-color: white;
    text-align: center;
    align-content: center;
    display: block;
}
a.contact{
    background-color: white;
    width: min-content;
    margin: 0;
}
  
.sydney{
width: 100%;
display: block;
}

.insta_icon{
    margin: 4px;
}
p.copyright{
    color: black;
}