h1{
    font-family:'simplificasimplifica';
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    align-content: center;
    letter-spacing: 5px;
    color: white;
    display: block;
    pointer-events: none;
}

h1::selection{
    background: transparent;
}

h1.goal-title{
    color: #f00ee4;
    font-size: 40px;
    margin-bottom: 0;
}

h2{
    font-family: 'alcubierreregular';
    font-size: 36px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    align-content: left;
    display: block;
    letter-spacing: 10px;
    margin: auto;
    color: white;
    width: 0;
    visibility: hidden;
}