h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    align-content: center;
    color: white;
    display: block;
    letter-spacing: 1px;
    pointer-events: none;
}

h1::selection{
    background: transparent;
}

h1:hover{
    cursor: pointer;
    color: #f00ee4;
}

h2{
    font-family: 'alcubierreregular';
    font-size: 36px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    align-content: left;
    display: block;
    letter-spacing: 10px;
    margin: auto;
    color: white;
    width: 0;
    visibility: hidden;
}

@font-face {
    font-family: 'alcubierreregular';
    src: url('alcubierre.woff2') format('woff2'),
         url('alcubierre.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}