header{
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 100000;
}

.arrowtop{
    width: 7px;
    height: 3px;
    background-color: white;
    transition: 0.3s ease-in-out;
    transform: translate(135%,-200%) rotate(-45deg);
    z-index: 10000;
    visibility: hidden;
}
.arrowbottom{
    width: 10px;
    height: 3px;
    transition: 0.3s ease-in-out;
    background-color: white;
    transform: rotate(45deg);
    z-index: 10000;
    visibility: hidden;
}

@media only screen and (min-width: 0px){
.spacer{
    height: 100px;
    width: 100%;
}
}
@media only screen and (min-width: 600px){
    .spacer{
        height: 150px;
        width: 100%;
    }
}
@media only screen and (min-width: 1024px){
    .spacer{
        height: 200px;
        width: 100%;
    }
}

@media only screen and (min-width: 1440px){
    .spacer{
        height: 250px;
        width: 100%;
    }
}

