header{
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}
header::selection{
    background: transparent;
}

.arrowtop{
    width: 7px;
    height: 3px;
    background-color: white;
    transition: 0.3s ease-in-out;
    transform: translate(135%,-200%) rotate(-45deg);
    z-index: 10000;
    visibility: hidden;
}
.arrowbottom{
    width: 10px;
    height: 3px;
    transition: 0.3s ease-in-out;
    background-color: white;
    transform: rotate(45deg);
    z-index: 10000;
    visibility: hidden;
}