  .logo {
    margin: 20px;
    display: inline-block;
    z-index: top;
    pointer-events: none;
    transition: 250ms; 
}
.logo::selection{
  background: transparent;
}

.logo-active{
  transform: translateX(0%);
}
.logo-colour{
 filter:brightness(0) invert(1);
}
