@media screen and (max-width: 1200px){
    .button{
        position: absolute;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        /* visibility: hidden; */
        transform: translateX(100%);
        top: 88vh;
        height: 92vh;
        /* overflow: hidden;
        visibility: collapse;
        margin: 0;
        padding: 0; */
    }
    .menu{
        visibility: visible;
    }
    body{
        overflow-x: hidden;
    }
}