@media screen and (max-width: 1400px){
    .menu{
        position: absolute;
        right: 0px; 
        top: 30vh;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        /* transition: transform 1s ease-in; */
    }
    .logo{
        max-width: 20%;
        max-height: 20%;
    }
    header{
        justify-content: flex-end;
    }
    html{
        overflow-x: hidden;
    }

    body{
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
    }
}

.logo-active{
    max-width: 1%;
    max-height: 1%;
}