@media screen and (max-width: 1400px){
    .menu{
        position: absolute;
        right: 0; 
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out;
        background-color: black;
        z-index: 1000;
        overflow-y: hidden;
    }
    .button{
        margin-bottom: 2vh;
        width: 100%;
        outline: none;
    }
    a{
        align-items: center;
    }
    .days{
        transition: transform 0.2s ease-out;
    }
    .arrowtop{
        visibility: visible;
    }
    .arrowbottom{
        visibility: visible;
    }
    .logo{
        max-width: 10%;
        max-height: 10%;
        pointer-events: all;
        transition: 250ms; 
        z-index: 10000;
        margin-left: 5px;
        margin-right: 10px;
    }
    header{
        justify-content:flex-end;
    }
    h2{
        visibility: visible;
        width: auto;
        z-index: 10000;
    }
    html, body {
        overflow-x: hidden;
      }
      body {
        height: auto;
        position: relative;
        overflow: hidden;
        width: 100%;
      }
    video{
        padding-bottom: 30px;
    }
}

.logo-active{
    transform: translateX(0%);
}

.content-active{
    transform: translateX(-100%);
}
.logo-colour{
   transition: transform 0.3s ease-in-out;
   filter:brightness(0) invert(1);
}
.w1-active{
    transform: translateX(0%);
}
.arrowtop-active{
    transition: transform 0.3s ease-in-out;
    background-color: #f00ee4;
    transform: translate(110%, -190%) rotate(45deg);
}
.arrowbottom-active{
    transition: transform 0.3s ease-in-out;
    background-color: #f00ee4;
    transform: rotate(135deg);
}

.stop-scrolling{
    height: 100vh;
    overflow: hidden;
}