<!DOCTYPE html>
<html lang="en">

{{> head}}


<body>
    {{{body}}}
    {{> header}}
    <p>We are an authorised financial services provider.</p>
    {{!-- <script type="text/javascript" src="../Controller/animation.js"></script> --}}
</body>

</html>