<head>
    <title>LJ Fitness</title>
    <link rel="stylesheet" type="text/css" href="./components/main.css">
    <link rel="shortcut icon" type="image/svg" href="./images/logo_icon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>