<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{{body}}}
    {{> header}}
    <div class="bio">
        <p>Coming soon...</p>
    </div>
    <script type="text/javascript" src="/Controller/menu.js"></script>
</body>

</html>