<!DOCTYPE html>
<html lang="en">

{{> head}}
<style>
    body,
    html {
        overflow-y: visible;
    }
</style>

<body>
    {{{body}}}
    {{> header}}
    <div class="details">
        <img class="laura" src="/images/ljr.png"><br><br>
        <a class="contact" target="_blank" href="https://www.instagram.com/lj_fitness_international/"><img
                src="/images/insta.svg"></a>
        {{!-- <a class="contact" href=""><img src="/images/email.svg"></a> --}}
    </div>
    <script type="text/javascript" src="/Controller/menu.js"></script><br><br>
</body>

</html>