<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{{body}}}

    {{> header}}

    <div class="workouts">

        <div class="vidcontainer">
            <h1>Heel Elevated Squat</h1>
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/d1/Heel Elevated Squat.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/d1/1a.anatomy_anterior_squat.svg" />
            <img src="./images/d1/1a.anatomy_posterior_squat.svg" />
        </div>

        <h1>Sumo Squat</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/d1/Sumo Squat.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/d1/1b.anatomy_anterior_sumo_squat.svg" />
            <img src="./images/d1/1b.anatomy_posterior_sumo_squat.svg" />
        </div>

        <h1>Push Up</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/d1/Push Up.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/d1/2a.anatomy_push_up.svg" />
        </div>

        <h1>Mountain Climber</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/d1/Mountain Climbers.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/d1/2b.anatomy_anterior_mountain_climber.svg" />
            <img src="./images/d1/2b.anatomy_posterior_mountain_climber.svg" />
        </div>

        <h1>Curtsey Lunges</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/d1/Dumbbell Curtsey Lunges.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/d1/3.anatomy_anterior_lunge.svg" />
            <img src="./images/d1/3.anatomy_posterior_lunge.svg" />
        </div>
    </div>
    <script type="text/javascript" src="/Controller/menu.js"></script>
</body>

</html>