<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{{body}}}
    {{> header}}
    {{> spacer}}
    {{> exercises}}
    {{> footer}}
    <script type="text/javascript" src="/Controller/menu.js"></script>
</body>

</html>