<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{{body}}}

    {{> header}}

    <div class="workouts">

        <div class="vidcontainer">
            <h1>Abdominal Crunches</h1>
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Ab Crunches.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/anatomy_ab_crunches.svg" />
        </div>

        <h1>Sit ups</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Sit Up.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/anatomy_core_abs.svg" />
        </div>

        <h1>Reverse Sit Up</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Reverse Sit Up.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/anatomy_reverse_sit_up.svg" />
        </div>

        <h1>Plank - Side to side</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Sit Up.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/anatomy_hamstring_curl.svg" />
        </div>

        <h1>Reverse Lunges</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Frog Pump.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/anatomy_anterior_hip_thrust.svg" />
            <img src="./images/anatomy_posterior_hip_thrust.svg" />
        </div>

        <h1>Jump Squats</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Jump Squat.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/anatomy_anterior_hip_thrust.svg" />
            <img src="./images/anatomy_posterior_hip_thrust.svg" />
        </div>
    </div>
    <script type="text/javascript" src="/Controller/menu.js"></script>
</body>

</html>