<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{{body}}}

    {{> header}}

    <div class="workouts">

        <div class="vidcontainer">
            <h1>Heel Elevated Squat</h1>
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Heel Elevated Squat.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/anatomy_anterior_lunges.svg" />
            <img src="./images/anatomy_frog_squats.svg" />
        </div>

        <h1>Sumo Squat</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Sumo Squat.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/anatomy_anterior_lunges.svg" />
            <img src="./images/anatomy_frog_squats.svg" />
        </div>

        <h1>Face Down lying Y raises</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Face Down Y Raises.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>

        <h1>Face Down lying T raises</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Face Down T Raises.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>

        </div>

        <h1>Walking Lunges</h1>
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Frog Pump.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <img src="./images/anatomy_anterior_lunges.svg" />
            <img src="./images/anatomy_frog_squats.svg" />
        </div>
    </div>
    <script type="text/javascript" src="/Controller/menu.js"></script>
</body>

</html>