<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> header}}
    <div class="home">
        <img class="sydney" src="./images/Sydney.jpg" />
    </div>

    <script type="text/javascript" src="/Controller/menu.js"></script>
</body>