<!DOCTYPE html>
<html lang="en">

<head>
    <title>LJ Fitness</title>
    <link rel="stylesheet" type="text/css" href="./components/main.css">
    <link rel="shortcut icon" type="image/svg" href="./images/logo_icon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

    <header>
        <img class="logo" src="/images/logo.svg">
        <div class="button">
            <button>Home</button>
            <button>Workouts</button>
            <button>Biometrics</button>
            <button>Tips</button>
            <button>Contact Us</button>
        </div>
        <img class="menu" src="/images/menu.svg">
    </header>





    <h1>Bench press</h1>
    <img src=" ./images/anatomy_bench_press.svg" />
    <h1>Bicep curls</h1>
    <img src="./images/anatomy_bicep_curl.svg" />
    <h1>Crunches</h1>
    <img src="./images/anatomy_core_abs.svg" />
    <h1>Front raises</h1>
    <img src="./images/anatomy_front_raises.svg" />
    <h1>Lateral raises</h1>
    <img src="./images/anatomy_lateral_raises.svg" />
    <video width="480" height="360" controls>
        <source src="./videos/rdf.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

</body>


</html>