<!DOCTYPE html>
<html lang="en">

{{> head}}
{{> head}}

<div class="alltips">

    <body>
        {{{body}}}
        {{> header}}
        {{> spacer}}
        <div class="tip">
            <p>This is just a list of common terms that are used throughout my programs and will help you to gain a
                better
                understanding of what on earth all these gym people are talking about.<br><br>

                The gym can be quite an intimidating place at the best of times but knowledge is power and knowing what
                someone is talking about will only enhance your own understanding of the new world of gym.<br><br>

                <u>Organised from A - Z:</u><br><br>

                <strong>BB:</strong> Barbell<br><br><br><br>

                <strong>Circuit:</strong> 3 or 4 exercises you do back to back before having a rest
                and repeating the 4 exercises
                again.<br><br><br><br>


                <strong>DB:</strong> Dumbbell<br><br><br><br>

                <strong>KB:</strong> Kettlebell<br><br><br><br>


                <strong>Reps:</strong> Short for repetitions and is the number of a particular
                movement you must
                complete.<br><br><br><br>

                <strong>Rest:</strong> Refers to the amount of time you are to have a break between
                your sets. Rest is
                critical for muscle
                growth.<br><br><br><br>

                <strong>Sets:</strong> Refers to the number of repetitions of the exercise you must
                complete.<br><br><br><br>

                <strong>Superset:</strong> Commonly 2 exercises you do back to back before having a
                rest and repeating the 2
                exercises again.
                If it has Superset 3 sets then you must do 3 sets of the 2 exercises, not 3 sets of the first exercise
                before continuing on to the next exercise.<br><br><br><br>

                <strong>Tempo:</strong> The time that you have the muscle moving through the
                different stages of a movement
                (from concentric
                to eccentric) shown in 3 numbers; e.g. 3,0,3 would be 3 seconds, 0 seconds and 3
                seconds.<br><br><br><br>

                <strong>Time under Tension:</strong> The amount of time you have a particular muscle
                under a work
                load.<br><br><br><br>

                <strong>Total Volume:</strong> Your total volume is your sets multiplied by your
                reps.<br><br>
                E.g. 4 x 10 would be 4 sets of 10 reps = 40 total volume<br><br>
            </p>
        </div>
        {{> footer}}
        <script type="text/javascript" src="/Controller/menu.js"></script>
    </body>
</div>

</html>