<!DOCTYPE html>
<html lang="en">

{{> head}}


<body>
    {{{body}}}
    <div>
        {{> header}}

    </div>



    {{!-- <script type="text/javascript" src="../Controller/animation.js"></script> --}}
</body>

</html>