<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{{body}}}
    {{> header}}
    {{> spacer}}
    <div class="content">
        {{#each workouts}}
        {{!-- <div class="day-select">
            <p class="day-text">Day {{Day}}</p>
        </div> --}}
        <h1>Day {{Day}}</h1>
        <table class="w1">
            <thead>
                <tr>
                    <th>EXERCISES</th>
                    <th>SETS</th>
                    <th>REPS</th>
                </tr>
            </thead>
            <tbody>
                {{#each this}}
                {{#if (isArray this)}}
                <tr>
                    {{#each this}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
        <br><br>
        {{/each}}
    </div>
    {{> footer}}
    <script type="text/javascript" src="/Controller/menu.js"></script>
</body>

</html>