<!DOCTYPE html>
<html lang="en">

{{> head}}
<style>
    body,
    html {
        overflow-y: visible;
    }
</style>

<body>
    {{{body}}}

    {{> header}}

    <div class="workouts">
        {{!-- <h1>Bench press</h1> --}}
        {{!-- <img src=" ./images/anatomy_bench_press.svg" /> --}}
        {{!-- <h1>Bicep curls</h1> --}}
        {{!-- <img src="./images/anatomy_bicep_curl.svg" /> --}}
        {{!-- <h1>Crunches</h1> --}}
        {{!-- <img src="./images/anatomy_core_abs.svg" /> --}}
        {{!-- <h1>Front raises</h1> --}}
        {{!-- <img src="./images/anatomy_front_raises.svg" /> --}}
        {{!-- <h1>Lateral raises</h1> --}}
        {{!-- <img src="./images/anatomy_lateral_raises.svg" /> --}}
        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Ab Crunches.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Ab Crunches</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Backpack Back Squat.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Backpack Back Squat</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Banded Crab Walks.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Banded Crab Walks</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Banded Donkey Kicks.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Banded Donkey Kicks</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Banded Glute Bridges.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Banded Glute Bridges</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Banded glute side taps.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Banded glute side taps</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Banded Kickbacks.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Banded Kickbacks</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Banded Monster walks.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Banded Monster walks</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Banded Pull apart.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Banded Pull apart</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Banded Row.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Banded Row</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Banded Squat.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Banded Squat</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Bent Over Row (with backpack).mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Bent Over Row (with backpack)</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Bicycle Crunches.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Bicycle Crunches</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Curl to Shoulder Press - banded.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Curl to Shoulder Press - banded</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Dead Bug.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Dead Bug</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Fire Hydrants - banded.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Fire Hydrants - banded</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Glute Bridge.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Glute Bridge</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Hip Thrust.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Hip Thrust</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Hip Thrust - Banded.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Hip Thrust - Banded</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Overhead Sit Up.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Overhead Sit Up</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Plank - elbows to hands.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Plank - elbows to hands</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Plank - Feet taps.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Plank - Feet taps</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Plank Reach.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Plank Reach</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Plank - side to side.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Plank - side to side</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Plyo Lunges.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Plyo Lunges</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Press to Pull apart.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Press to Pull apart</h3>
        </div>


        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Pulsing Glute Bridges.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Pulsing Glute Bridges</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Reverse Sit up.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Reverse Sit up</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Reverse Sit up(1).mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Reverse Sit up(1)</h3>
        </div>


        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Seated Pistol Squat.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Seated Pistol Squat</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Single Arm Row - Banded.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Single Arm Row - Banded</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Single Leg Glute Bridges.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Single Leg Glute Bridges</h3>
        </div>


        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Single Leg Hip Thrust.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Single Leg Hip Thrust</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Single Leg RDL.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Single Leg RDL</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Single Leg RDL - Banded.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Single Leg RDL - Banded</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Single Leg Reverse Sit up.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Single Leg Reverse Sit up</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Sit Up.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Sit Up</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Swiss Ball Hip Extension.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Swiss Ball Hip Extension</h3>
        </div>


        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Swiss Ball Leg Curl.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Swiss Ball Leg Curl</h3>
        </div>

        <div class="vidcontainer">
            <video class="videos" width="300" height="300" controls>
                <source src="./videos/Swiss Ball Single Leg Curl.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <h3>Swiss Ball Single Leg Curl</h3>
        </div>

    </div>
    <script type="text/javascript" src="/Controller/menu.js"></script>
</body>

</html>