<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{{body}}}
    {{> header}}
    <div class="days">
        <li onclick="location.href='/1'">Day 1</li>
        <li onclick="location.href='/2'">Day 2</li>
        <li onclick="location.href='/3'">Day 3</li>
        <li onclick="location.href='/4'">Day 4</li>
        <li onclick="location.href='/5'">Day 5</li>
        <li onclick="location.href='/6'">Day 6</li>
        <li onclick="location.href='/7'">Day 7</li>
    </div>

    <script type="text/javascript" src="/Controller/menu.js"></script>
</body>

</html>